<%- include('partials/header') %>
	<script defer src="/public/js/displayAllProducts.js"></script>
	<!--Contenu de la page-->
	<main>
		<section class="catalog_title">
			<h2>Notre catalogue</h2>
		</section>
		<section class="catalog">
			<select name="category" id="category">
				<option value="1">Category 1</option>
				<option value="1">Category 2</option>
				<option value="1">Category 3</option>
			</select>
			<div class="product_list only-display-3-articles" id="catalog_list">

				<% coffees.forEach(coffee => {  %>
				<article class="product">
					<img src="/public/images/coffees/<%=coffee.ref%>.png" alt="">
					<h3><%=coffee.name%></h3>
					<p><%=coffee.text%></p>
					<button class="button_secondary"><a href="/catalogue/product/<%=coffee.id%>">Découvrir</a></button>
				</article>
			  <% }) %>
			</div>
			<button class="button_secondary" id="catalog_button">Voir tout</button>
		</section>
	</main>
	
	<!--Pied de page-->
<%- include('partials/footer') %>