
<%- include('partials/header') %>

	<!--Contenu de la page-->
	<main>
		<section class="about">
			<img src="../public/images/about.jpg" alt="Image illustrative">
			<article class="about_body">
				<h2>La boutique</h2>
				<p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.</p>
				<button class="button_main"><a href="/catalogue">Voir le catalogue</a></button>
			</article>
		</section>
		<section class="news">
			<h2>News</h2>
			<div class="product_list">
			<% news.forEach(coffee => {  %>
				<article class="product">
					<img src="/public/images/coffees/<%=coffee.ref%>.png" alt="">
					<h3><%=coffee.name%></h3>
					<p><%=coffee.text%></p>
					<button class="button_secondary"><a href="/catalogue/product/<%=coffee.id%>">Découvrir</a></button>
				</article>
			  <% }) %>
		</section>
	</main>
	
	<!--Pied de page-->
<%- include('partials/footer') %>