<%- include('partials/header') %>
	<!--Contenu de la page-->
	<main>
		<section class="product_page">
			<img src="/public/images/coffees/<%=searchedCoffee.ref%>.png" alt="image_produit">
			<article class="product_info">
			<time datetime="2018-07-07"">Publié le <%= date %></time>
				<h2><%=searchedCoffee.name%></h2>
				<p><%=searchedCoffee.text%></p>
				<p>Origine : <%=searchedCoffee.origin%> </p>
				<p>Charactéristique principale : <%=searchedCoffee.caracteristic%></p>
				<p>Prix au Kg : <%=searchedCoffee.price_kg%> </p>
				<button class="button_main"> <a href="/catalogue">Catalogue</a></button>
			</article>
		</section>
	</main>
	
	<!--Pied de page-->
<%- include('partials/footer') %>